<!-- Blackhead hero -->
<section class="blackhead-main">
  <div class="container">
    <div class="">
      <figure>
        <img src="<%= image_url('tool_horizontal.png') %>" alt="Humanize Black Head Extractor Tool" />
      </figure>
      <h1><%= @header %></h1>
      <div class="description">
        <p><%= @description %></p>
      </div>

      <% if( @promo ) %>
        <aside class="price"><span>$12.99</span>FREE, today only!</aside>
        <a href='<%= checkout_path + "?promo=google" %>' class="button promo">Get Yours Free Today</a>
      <% else %>
        <aside class="price"><span>$12.99</span>$4.99</aside>
        <a href="<%= checkout_path %>" class="button">Buy Now</a>
      <% end %>

    </div>
  </div>
</section>