<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Premium Facial and Skincare Tools | Humanize" %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Humanize specializes in premium quality tools used at your local spa. We source from the same sources as your facialist. Try out Blackhead Extractor today. Only $12.99, includes free shipping." />
  <%= render 'layouts/ga' %>
</head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>